#container3 {        
    letter-spacing: 0em;
    background: whitesmoke;            
    margin-top: 1em;    
    padding: 1em;        
}

.card {
    position: static; /*le puse statica solo a la card, porque sin esto al bajar el navbar, la card lo tapaba*/    
}

.imgProyecto {
    display: block;
    margin: auto;
    padding: 1em;
    width: 350px;
    max-width: 100%;
    
}

.card-title{
    font-family: Poppins;
    text-align: center;
    padding: 0.20em;
    letter-spacing: 0em;
    background-color: rgb(124, 212, 212);
}

.card-text {
    text-align: justify;
    letter-spacing: 0em;
    font-family: Esteban;
}

#colP1 {        
    padding: 1em;        
}

.btn {        
    display: block; /*el display block y margin auto, sirve para centrar imagenes o botones*/
    margin: auto;    
    letter-spacing: 0em;
    font-family: Esteban;
    margin-top: 1em;
    background: teal;
    color: white;        
}

.btn:hover {
    background: rgb(124, 212, 212);
}