<p class="fs-1" id="tituloContacto">Contacto</p>

<div class="container" id="container4">
            
    <div class="row">
        <div class="col-sm-12, col-md-12, col-lg-4" id="colP1">
            <a [href]="linkGitHub" target="_blank">                               
                <!-- <img src="../../../assets/git.png" alt="Mi cuenta github" class="imgContacto"> -->
                <img src="assets/git.png" alt="Mi cuenta github" class="imgContacto">
                <!-- <p class="fs-4 correo">Mi cuenta GitHub</p>                     -->
            </a>                    
        </div>
        <div class="col-sm-12, col-md-12, col-lg-4" id="colP1">                                                          
              <a [href]="linkCorreo"> <!--el mailito y el subject son para el destinatario y el asunto del correo-->
                <!-- <img src="../../../assets/gmail.png" alt="francistorresmx@gmail.com" class="imgContacto"> -->
                <img src="assets/gmail.png" alt="francistorresmx@gmail.com" class="imgContacto">
                <!-- <p class="fs-4 correo">Contactar por correo</p>                                                                      -->
              </a>                      
        </div>
        <div class="col-sm-12, col-md-12, col-lg-4" id="colP1"> 
          <a [href]="linkTel" target="_blank">
            <!-- <img src="../../../assets/telefono.png" alt="Télefono: 81-12-25-63-96" class="imgContacto"> -->
            <img src="assets/telefono.png" alt="Télefono: 81-12-25-63-96" class="imgContacto">
            <!-- <p class="fs-4 correo">Télefono: 81-12-25-63-96</p>                                                                       -->
          </a>                                                       
    </div>
    </div>
</div>
