*{
    margin-bottom: 0;            
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     */
    font-family: Esteban;
    font-size: 1.03em;
    letter-spacing: 0.15em;
}

#colP1 {        
    padding: 1em;        
}

.correo {      
    margin-bottom: 2em;        
    text-align: center;
}

#container4 { 
    text-align: center;    
    display: block;   
    margin: auto;
}

#tituloContacto {
    padding-top: 2.5em;
    padding-bottom: 1em;
    text-align: center;
}

.imgContacto{        
    width: 40%;       
    display: block;
    margin: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    cursor: pointer;
}