* {    
    margin-bottom: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;     */    
    font-size: 1.03em;
}


a:hover {  /* el hover hace que cambie algo al pasar el mouse*/
    color: white;    
}

.nav-link:hover {
    color: white;
    background-color: rgb(124, 212, 212);
}


.articuloProyecto {    
    letter-spacing: 0em;
    padding-top: 2em;        
}

.miNav {
    z-index: 99999; /*para que eñ navbar este arriba de todo*/
    font-family: Poppins;
    letter-spacing: 0em;
    padding: .3em;
    background-color: rgb(0, 116, 124);
    position: fixed;
    width: 100%;    
}

.iconoNav {
    width: 60%;    
}

.navbar-toggler{
    margin: 1em;
}

.volver {
    background: rgb(124, 212, 212);
    color: black;
}

.titulo {
    font-family: Poppins;
    padding-top: 2.5em;
    padding-bottom: 1em;
    text-align: center;
}


.imgProyecto {
    display: block;
    margin: auto;
    width: 60%;
    margin-bottom: 2em;
}

.descripcion {        
    padding: 1em;            
    height: 10%;
    
    background: rgb(124, 212, 212);
}

.lenguaje {
    font-family: Esteban;
    margin-top: 2em;
    background: rgb(124, 212, 212);
    text-align: center;    
}

.container1 {
    background: whitesmoke;    
    margin-bottom: 3em;
}

.masImg {
    display: block; /* el display y margin auto centra imagenes*/
    margin: auto;
    width: 60%;
    margin-top: 3em;        
    margin-bottom: 3em;
}

.masImg2 {
    display: block;
    margin: auto;
    margin-top: 3em;        
    margin-bottom: 3em;
    width: 100%;
}

.descProyecto {
    font-family: Esteban;  
    letter-spacing: 0em;    
    text-align: justify;     
    margin: .5em;
}

.descProyecto2 {    
    font-family: Esteban;  
    letter-spacing: 0em;
    text-align: justify;     
    margin: .5em;
    margin-top: 2em;
}