<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portafolio</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sobre mi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Proyectos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>                  
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <article>
        
        <div class="container" id="container1">
            <div class="row">
                <div class="col-sm-12, col-md-12, col-lg-6">
                    <img src="../../../assets/tony.jpg" class="rounded, miFoto" alt="">
                    <!-- "img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" -->
                </div>
                <div class="col-sm-12, col-md-12, col-lg-6">
                    <p class="fs-3">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium delect
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium delect
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium delect
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium delect
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium delect
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium delect
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12, col-md-12, col-lg-4" id="col1">
                    <p class="fs-3">Experiencia</p>         
                    <p class="fs-4, metas">                                      
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quod explicabo suscipit at eaque tenetur quo ex alias dicta error. Ab eaque esse vero aut consequatur, itaque earum! Quos, sunt.
                    </p>
                </div>
                <div class="col-sm-12, col-md-12, col-lg-4" id="col2">
                    <p class="fs-3">Personalidad</p>
                    <p class="fs-4, metas">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quas quidem eum non atque, fuga distinctio consequuntur modi nisi asperiores voluptates. Ipsa deleniti in magni esse? Dignissimos minima quam quas?
                    </p>
                </div>
                <div class="col-sm-12, col-md-12, col-lg-4" id="col3">
                    <p class="fs-3">Metas</p>
                    <p class="fs-4, metas">                        
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga laborum tenetur animi corrupti impedit. Id, libero incidunt, labore molestias unde dolores quod veritatis iure fugiat rem sint hic est explicabo.
                    </p>
                </div>
            </div>
        </div>

        <!--Proyectos-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12, col-md-12, col-lg-4">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lista del día</h5>
                          <p class="card-text, fs-6">Aplicación para ordenar las tareas del día actual.</p>
                          <a href="#" class="btn">Presioname</a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-12, col-md-12, col-lg-4">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Lista del día</h5>
                          <p class="card-text, fs-6">Aplicación para ordenar las tareas del día actual.</p>
                          <a href="#" class="btn">Presioname</a>
                        </div>
                      </div>  
                </div>
                
            </div>
        </div>


       
        
    </article>
    <footer>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled link</a>
            </li>
        </ul>
    </footer>
</body>
</html>
