<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagiiicMex</title>
</head>  

<!--header -->
<header>    
  <nav class="navbar navbar-expand-lg navbar-light">
          
      
      <a class="navbar-brand">
        <img src="https://res.cloudinary.com/da3adzyke/image/upload/v1630465660/imagenes%20protafolio/kyfa1njm5rqsvmq3ms3d.png" class="iconoNav" alt="Francisco Torres">                
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
  
          <!-- <li class="nav-item" routerLinkActive="Active">
            <a class="nav-link" routerLink='/home'>Inicio</a>
          </li> -->

          <li class="nav-item" routerLinkActive="Active">
              <a class="nav-link" [routerLink] (click)="scroll(miInicio)">Inicio</a>
            </li>              
  
          <li class="nav-item">              
              <a class="nav-link" [routerLink] (click)="scroll(miProyecto)">Proyectos</a>                     
          </li>

          <li class="nav-item">              
            <a class="nav-link" [routerLink] (click)="scroll(miCV)">Curriculum Vitae</a>                     
          </li>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink] (click)="scroll(miContacto)">Contacto</a>
          </li>       

        </ul>
      </div>
    
  </nav>
</header>


<body>  
    <article>            
        
      <!--Inicio-->
        <p #miInicio></p>                       
        <p class="fs-1" id="tituloContacto">Sobre mi</p>
        <div class="container" id="container1">
            <div class="row">
                <div class="col-sm-12, col-md-12, col-lg-6">                  
                    <img src="https://res.cloudinary.com/da3adzyke/image/upload/v1630542654/imagenes%20protafolio/yx3xjrvxuelqfglokywd.jpg" class="miFoto" alt="Francisco Torres">
                    <!-- <img src="../../../assets/yo.jpeg" class="miFoto" alt=""> -->
                    <!-- "img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" -->
                </div>
                <div class="col-sm-12, col-md-12, col-lg-6">
                    <p class="fs-3 bienvenida">
                        Hola bienvenido, mi nombre es Francisco Torres, soy de México y actualmente estudio la Ingeniera en desarrollo y gestión de software,
                        en la cual me he desarollado a base de practicas y experiencias en el desarollo de aplicaciónes multiplataforma.                                               
                    </p>                    
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12, col-md-12, col-lg-4" id="col1">
                    <p class="fs-3 subtitulo">Experiencia</p>         
                    <p class="fs-4, metas">                                      
                      Durante mí desarrollo como técnico superior universitario en tecnologías de la información área desarrollo de software multiplataforma,
                      he desarrollado aplicaciones en las que maneje lenguajes como Java, C#, Dart, 
                      TypeScript, HTML, CSS. Y FrameWorks como Flutter, Net Core, Angular, Ionic.
                    </p>
                    <p class="fs-4, metas">                                      
                      Creando aplicaciones especialmente móviles en donde hice desde el backend usando las tecnologías que me fueran requeridas, hasta el frontend de estas.
                    </p>
                    <p class="fs-4, metas">                                      
                      Especializándome más en el desarrollo de aplicaciones multiplataforma, en donde actualmente concentro la mayoría de mi aprendizaje.
                      Por ejemplo este sitio es una aplicación PWA, el cual puede descargarse en un móvil o visualizarse en un navegador. 
                    </p>
                </div>
                <div class="col-sm-12, col-md-12, col-lg-4" id="col2">
                    <p class="fs-3  subtitulo">Personalidad</p>
                    <p class="fs-4, metas">
                        Me considero una persona a la que le gusta siempre estar aprendiendo cosas nuevas.                        
                    </p>
                    <p class="fs-4, metas">
                       Me agrada trabajar en equipo, ya que siempre he pensado que resolver problemas es más fácil junto a alguien, ademas de que me gusta
                       mucho la organización de objetivos y tareas.
                  </p>
                  <p class="fs-4, metas">
                      Soy una persona sencilla, a la que siempre le agradara conocer personas nuevas, objetivos nuevos, y  nuevos desafíos.
                  </p>
                  <p class="fs-4, metas">
                    
                  </p>
                </div>
                <div class="col-sm-12, col-md-12, col-lg-4" id="col3">
                    <p class="fs-3 subtitulo">Metas</p>
                    <p class="fs-4, metas">                        
                        Actualmente mis metas son mejorar mis habilidades en programación y organización, terminar mi carrera, y demostrar mis habilidades aprendidas
                        para así mejorar aún más.                       
                    </p>
                    <p class="fs-4, metas">                        
                      Mis metas a largo plazo son ahorrar, viajar, conocer miles de cosas nuevas, y seguir aprendiendo.
                  </p>
                </div>
            </div>
        </div>        

        <!--Proyectos-->    
        <p #miProyecto></p>                        
        <p class="fs-1" id="tituloContacto">Proyectos</p>   
        <app-lista-del-dia></app-lista-del-dia>     
              
        
        <!--Curriculum-->
        <p #miCV></p>
        <p class="fs-1" id="tituloContacto">Curriculum vitae</p>    
        <div class="container containerCV">
          <a [href]="linkCV" class="linkCurriculum" target="_blank">Ver Curriculum</a>                                                      
        </div>    
        
        

        <!--Contacto-->        
        <p #miContacto></p>                       
        
        

        

        <!-- <div class="contenedorFormulario">
        <form class="formulario">
            <p class="fs-1" id="tituloContacto">Enviame un correo</p>
            <div class="input-group">
              <label for="exampleInputEmail1" class="form-label textForm">Correo</label>
              <input type="email" class="form-control border-5" id="inputFormulario" aria-describedby="emailHelp"> -->
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            <!-- </div>
            <div class="input-group">
              <label for="exampleInputPassword1" class="form-label textForm">Mensaje</label>
              <textarea name="form-control" class="form-control border-5" id="inputFormulario" cols="150" rows="3"></textarea>
            </div>
            <div class="mb-3 form-check"> -->
              <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
              <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
            <!-- </div>
            <button type="submit" class="btn">Enviar</button>
          </form>
        </div>         -->
        
    </article>

    <!--Pie de página-->
      
</body>
</html>
